# QUESTION NO-1

In [276]:
#importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [30]:
# Configure the webdriver.
driver = webdriver.Chrome('/Users/nlohith/Desktop/chromedriver')

In [31]:
# Opening the url
url= 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/'

In [32]:
#opening the webpage through our driver
driver.get(url)

In [33]:
#creating empty lists
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

In [42]:
rank = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')

In [43]:
for i in rank:
    Rank.append(i.text)

In [44]:
Rank[0:3]

['1.', '2.', '3.']

In [45]:
name = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')

In [46]:
for i in name:
    Name.append(i.text)

In [47]:
Name[0:3]

['"Baby Shark Dance"[28]', '"Despacito"[30]', '"Shape of You"[31]']

In [48]:
art = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')

In [49]:
for i in art:
    Artist.append(i.text)

In [50]:
Artist[0:3]

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi featuring Daddy Yankee',
 'Ed Sheeran']

In [52]:
date =  driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')

In [55]:
for i in date:
    Upload_date.append(i.text)

In [56]:
Upload_date[0:3]

['June 17, 2016', 'January 12, 2017', 'January 30, 2017']

In [57]:
view = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')

In [58]:
for i in view:
    Views.append(i.text)

In [59]:
Views[0:3]

['7.91', '7.20', '5.18']

In [60]:
# creating the dataframe from the scraped data
import pandas as pd
Videos=pd.DataFrame({})
Videos['Rank']=Rank[0:30]
Videos['Name']=Name[0:30]
Videos['Artist']=Artist[0:30]
Videos['Upload_date']=Upload_date[0:30]
Videos['Views']=Views[0:30]
Videos

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,"June 17, 2016",7.91
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,"January 12, 2017",7.20
2,3.,"""Shape of You""[31]",Ed Sheeran,"January 30, 2017",5.18
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,"April 6, 2015",4.96
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,"October 8, 2016",4.77
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.41
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,"November 19, 2014",4.09
7,8.,"""Gangnam Style""[38]",Psy,"July 15, 2012",3.97
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,"February 27, 2018",3.69
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.64
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,"March 6, 2014",3.53
11,12.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.40
12,13.,"""Sugar""[44]",Maroon 5,"January 14, 2015",3.39
13,14.,"""Roar""[45]",Katy Perry,"September 5, 2013",3.27
14,15.,"""Counting Stars""[46]",OneRepublic,"May 31, 2013",3.19
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,"October 7, 2014",3.18
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,"April 5, 2018",3.11
17,18.,"""Shake It Off""[49]",Taylor Swift,"August 18, 2014",3.02
18,19.,"""Faded""[50]",Alan Walker,"December 3, 2015",2.98
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,"March 22, 2015",2.97
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,"April 11, 2014",2.97
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,"February 20, 2014",2.97
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,"May 31, 2018",2.96
23,24.,"""Let Her Go""[55]",Passenger,"July 25, 2012",2.91
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,"June 29, 2017",2.86
25,26.,"""Hello""[57]",Adele,"October 22, 2015",2.79
26,27.,"""Perfect""[58]",Ed Sheeran,"November 9, 2017",2.74
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira featuring Freshlyground,"June 4, 2010",2.74
28,29.,"""Blank Space""[60]",Taylor Swift,"November 10, 2014",2.72
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,"November 18, 2016",2.62

# QUESTION NO-2

In [320]:
# Configure the webdriver.
driver = webdriver.Chrome('/Users/nlohith/Desktop/chromedriver')

In [321]:
# Opening the url
url='https://www.bcci.tv/'

In [322]:
driver.get(url)

In [323]:
international_fixture=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]/a")
driver.get(international_fixture.get_attribute('href'))

In [324]:
Match_title=[] 
Series=[]
Place=[] 
Date=[] 
Time=[]

In [325]:
title = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')

In [326]:
for i in title:
    Match_title.append(i.text)

In [327]:
Match_title[0:3]

['2nd Test', '3rd Test', '4th Test']

In [328]:
series = driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]/span[2]')

In [329]:
for i in series:
    Series.append(i.text)

In [330]:
Series[0:3]

['INDIA V ENGLAND 2021', 'INDIA V ENGLAND 2021', 'INDIA V ENGLAND 2021']

In [331]:
place = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')

In [332]:
for i in place:
    Place.append(i.text)

In [333]:
Place[0:3]

['M. A. Chidambaram Stadium, Chennai',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad']

In [334]:
date = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
month = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')

In [335]:
for i in range(len(date)):
    Date.append(date[i].text+month[i].text)

In [336]:
time = driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')

In [337]:
for i in time:
    Time.append(i.text)

In [338]:
Time[0:3]

['09:30 IST', '14:30 IST', '09:30 IST']

In [339]:
len(Match_title),len(Series),len(Place),len(Date),len(Time)

(16, 16, 16, 16, 16)

In [340]:
# creating the dataframe from the scraped data
import pandas as pd
ICC=pd.DataFrame({})
ICC['Match_title']=Match_title[:10]
ICC['Series']=Series[:10]
ICC['Place']=Place[:10]
ICC['Date']=Date[:10]
ICC['Time']=Time[:10]
ICC

,Match_title,Series,Place,Date,Time
0,2nd Test,INDIA V ENGLAND 2021,"M. A. Chidambaram Stadium, Chennai",13FEBRUARY,09:30 IST
1,3rd Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",24FEBRUARY,14:30 IST
2,4th Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",04MARCH,09:30 IST
3,1st T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",12MARCH,19:00 IST
4,2nd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",14MARCH,19:00 IST
5,3rd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",16MARCH,19:00 IST
6,4th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",18MARCH,19:00 IST
7,5th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",20MARCH,19:00 IST
8,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23MARCH,13:30 IST
9,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26MARCH,13:30 IST

# QUESTION NO-3

In [3]:
# Configure the webdriver.
driver = webdriver.Chrome('/Users/nlohith/Desktop/chromedriver')

In [4]:
# Opening the url
url='https://www.guru99.com/'

In [5]:
driver.get(url)

In [6]:
# creating empty lists for scraping data
Exception_Name=[]
Description=[]

In [7]:
#clicking on the selenium page 
sel=driver.find_element_by_xpath("//div[@class='srch']/span[8]/a")
sel.click()

In [8]:
tutorial=driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a")
tutorial.click()

In [10]:
name = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for i in name:
    Exception_Name.append(i.text)

In [36]:
des = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for i in des:
    Description.append(i.text)

In [11]:
import pandas as pd
Exceptions=pd.DataFrame({})
Exceptions['Exception_Name'] = Exception_Name[1:]
Exceptions['Description'] =Description[1:]
Exceptions

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
...,...,...
78,UnhandledAlertException,This expectation occurs when there is an alert...
79,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
80,UnknownMethodException,This Exception happens when the requested comm...
81,UnreachableBrowserException,This Exception occurs only when the browser is...
82,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# QUESTION NO-4

In [82]:
# Opening the url
url=' http://statisticstimes.com/ '

In [83]:
driver.get(url)

In [84]:
# clicking on economy and then on India from there
economy=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
driver.get(economy.get_attribute('href'))

In [85]:
#clicking on GDP of Indian states 
Indian_states=driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]/a")
driver.get(Indian_states.get_attribute('href'))

In [86]:
#creating empty lists
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Share=[]
GDP=[]

In [87]:
rank = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]')

In [88]:
for i in rank:
    Rank.append(i.text)

In [89]:
Rank[0:3]

['1', '2', '3']

In [90]:
state = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')

In [91]:
for i in state:
    State.append(i.text)

In [92]:
State[0:3]

['Maharashtra', 'Uttar Pradesh', 'Tamil Nadu']

In [93]:
gdsp_19_20 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')

In [94]:
for i in gdsp_19_20:
    GSDP_19_20.append(i.text)

In [95]:
 GSDP_19_20[0:3]

['-', '1,794,508', '1,845,853']

In [96]:
gdsp_18_19 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')

In [97]:
for i in gdsp_18_19:
    GSDP_18_19.append(i.text)

In [98]:
GSDP_18_19[0:3]

['2,632,792', '1,668,229', '1,630,208']

In [99]:
share = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')

In [100]:
for i in share:
    Share.append(i.text)

In [101]:
Share[0:3]

['13.88%', '8.79%', '8.59%']

In [102]:
gdp = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]')

In [103]:
for i in gdp:
    GDP.append(i.text)

In [104]:
GDP[0:3]

['398.145', '252.278', '246.529']

In [105]:
len(GDP),len(Share),len(GSDP_18_19),len(GSDP_19_20),len(State),len(Rank)

(33, 33, 33, 33, 33, 33)

In [106]:
# Creating DataFrame.
Economy=pd.DataFrame({})
Economy['Rank'] = Rank[:33]
Economy['State'] = State[:33]
Economy['GSDP_19_20'] = GSDP_19_20[:33]
Economy['GSDP_18_19'] = GSDP_18_19[:33]
Economy['Share'] = Share[:33]
Economy['GDP'] = GDP[:33]
Economy

   Rank                      State GSDP_19_20 GSDP_18_19   Share      GDP
0     1                Maharashtra          -  2,632,792  13.88%  398.145
1     2              Uttar Pradesh  1,794,508  1,668,229   8.79%  252.278
2     3                 Tamil Nadu  1,845,853  1,630,208   8.59%  246.529
3     4                  Karnataka  1,699,115  1,544,399   8.14%  233.552
4     5                    Gujarat          -  1,502,899   7.92%  227.276
5     6                West Bengal  1,253,832  1,089,898   5.75%  164.820
6     7                  Rajasthan  1,020,989    942,586   4.97%  142.543
7     8             Andhra Pradesh    972,782    862,957   4.55%  130.501
8     9                  Telangana    969,604    861,031   4.54%  130.210
9    10             Madhya Pradesh    906,672    809,592   4.27%  122.431
10   11                     Kerala          -    781,653   4.12%  118.206
11   12                      Delhi    856,112    774,870   4.08%  117.180
12   13                    Haryana    831,610    734,163   3.87%  111.024
13   14                      Bihar    611,804    530,363   2.80%   80.204
14   15                     Punjab    574,760    526,376   2.77%   79.601
15   16                     Odisha    531,374    492,229   2.59%   74.437
16   17                      Assam          -    315,881   1.67%   47.769
17   18               Chhattisgarh    329,180    304,063   1.60%   45.982
18   19                  Jharkhand    328,598    297,204   1.57%   44.945
19   20                Uttarakhand          -    245,895   1.30%   37.186
20   21            Jammu & Kashmir          -    155,956   0.82%   23.584
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.265
22   23                        Goa          -     73,170   0.39%   11.065
23   24                    Tripura     55,358     49,845   0.26%    7.538
24   25                 Chandigarh          -     42,114   0.22%    6.369
25   26                 Puducherry     40,802     36,656   0.19%    5.543
26   27                  Meghalaya     36,572     33,481   0.18%    5.063
27   28                     Sikkim     32,496     28,723   0.15%    4.344
28   29                    Manipur          -     27,869   0.15%    4.214
29   30                   Nagaland          -     27,283   0.14%    4.126
30   31          Arunachal Pradesh          -     24,603   0.13%    3.721
31   32                    Mizoram          -     19,520   0.10%    2.952
32   33  Andaman & Nicobar Islands          -          -       -        -

# QUESTION NO-5

In [108]:
# Opening the url
url='https://github.com/'

In [109]:
driver.get(url)

In [110]:
#clicking on the trending option through explore option
trending=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
driver.get(trending.get_attribute('href'))

In [111]:
# creating empty lists for scraping data
Repository_title=[]
Repository_description=[] 
Contributors_count=[] 
Language_used=[]

In [112]:
title = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
for i in title:
    Repository_title.append(i.text)

In [113]:
Repository_title[0:5]

['Melvin-Abraham / Google-Assistant-Unofficial-Desktop-Client',
 'benawad / dogehouse',
 'flameshot-org / flameshot',
 'ratfactor / ziglings',
 'adityatelange / hugo-PaperMod']

In [120]:
des = driver.find_elements_by_xpath('//p[@class="col-9 text-gray my-1 pr-4"]')
for i in des:
    Repository_description.append(i.text)

In [115]:
Repository_description[0:5]

['A cross-platform unofficial Google Assistant Client for Desktop (powered by Google Assistant SDK)',
 'The home for voice conversations.',
 'Powerful yet simple to use screenshot software 🖥️ 📸',
 'Learn the Zig programming language by fixing tiny broken programs.',
 'A fast, clean, responsive Hugo theme']

In [116]:
lan = driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
for i in lan:
    
    try:
        Language_used.append(i.text)
        
    except NoSuchElementException :
        
        Language_used.append("---")

In [117]:
Language_used[0:5]

['JavaScript', 'TypeScript', 'C++', 'Zig', 'HTML']

In [121]:
contributor = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/a[2]')

In [122]:
for i in contributor:
    Contributors_count.append(i.text)

In [123]:
Contributors_count[0:5]

['53', '119', '599', '20', '245']

In [124]:
len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used)

(25, 50, 25, 23)

In [125]:
# creating the dataframe from the scraped data
import pandas as pd
Repositories=pd.DataFrame({})
Repositories['Repository_title']=Repository_title[0:22]
Repositories['Repository_description']=Repository_description[0:22] 
Repositories['Contributors_count']=Contributors_count[0:22] 
Repositories['Language_used']=Language_used[0:22] 
Repositories

,Repository_title,Repository_description,Contributors_count,Language_used
0,Melvin-Abraham / Google-Assistant-Unofficial-D...,A cross-platform unofficial Google Assistant C...,53,JavaScript
1,benawad / dogehouse,The home for voice conversations.,119,TypeScript
2,flameshot-org / flameshot,Powerful yet simple to use screenshot software...,599,C++
3,ratfactor / ziglings,Learn the Zig programming language by fixing t...,20,Zig
4,adityatelange / hugo-PaperMod,"A fast, clean, responsive Hugo theme",245,HTML
5,libsdl-org / SDL,Simple Directmedia Layer,31,C
6,satwikkansal / wtfpython,What the f*ck Python? 😱,"2,133",Python
7,mbround18 / valheim-docker,Valheim Docker server with Odin the CLI tool.,19,Rust
8,deepmind / deepmind-research,This repository contains implementations and i...,"1,001",Jupyter Notebook
9,TheAlgorithms / Java,All Algorithms implemented in Java,"11,910",Java
10,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,"16,106",JavaScript
11,skerkour / bloom,The simplest way to de-Google your life and bu...,11,Rust
12,serhii-londar / open-source-mac-os-apps,🚀 Awesome list of open source applications for...,"1,657",Swift
13,PojavLauncherTeam / PojavLauncher_iOS,Minecraft: Java Edition launcher for iOS,13,Java
14,yugedata / Options_Data_Science,"Collecting, analyzing, visualizing & paper tra...",35,Python
15,florisboard / florisboard,An open-source keyboard for Android. Currently...,50,Kotlin
16,vlang / v,"Simple, fast, safe, compiled language for deve...","1,332",V
17,engindemirog / KampFinalProject,Yazılım Geliştirici Yetiştirme Kampı Büyük Proje,31,C#
18,yamashi / CyberEngineTweaks,"Performance boost, bug fixes and hacks for fun...",162,C
19,sorrycc / awesome-javascript,🐢 A collection of awesome browser-side JavaScr...,"3,304",JavaScript
20,arslanbilal / git-cheat-sheet,git and git flow cheat sheet,970,JavaScript
21,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open source codebase and cu...,"25,392",Python

# QUESTION NO-6

In [385]:
# Configure the webdriver.
driver = webdriver.Chrome('/Users/nlohith/Desktop/chromedriver')

In [409]:
# Opening the url
URL='https://www.billboard.com/'

In [410]:
driver.get(URL)

In [411]:
#clicking on the hot100 option on homepage
top100=driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]/a")
top100.click()

In [412]:
# creating empty lists for scraping data
Song_name=[]
Artist_name=[] 
Last_week_rank=[] 
Peak_rank=[]
Weeks_on_board=[]

In [413]:
name = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')

In [415]:
for i in name:
    Song_name.append(i.text)

In [416]:
Song_name[0:5]

['Drivers License', 'Mood', 'Blinding Lights', '34+35', 'Levitating']

In [417]:
artist = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')

In [418]:
for i in artist:
    Artist_name.append(i.text)

In [419]:
Artist_name[0:5]

['Olivia Rodrigo',
 '24kGoldn Featuring iann dior',
 'The Weeknd',
 'Ariana Grande',
 'Dua Lipa Featuring DaBaby']

In [420]:
lastweek = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')

In [421]:
for i in lastweek:
    Last_week_rank.append(i.text)

In [422]:
Last_week_rank[0:5]

['1', '2', '3', '4', '5']

In [423]:
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')

In [424]:
for i in peak:
    Peak_rank.append(i.text)

In [425]:
Peak_rank[0:5]

['1', '1', '1', '2', '5']

In [426]:
weeks = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')

In [427]:
for i in weeks:
    Weeks_on_board.append(i.text)

In [428]:
Weeks_on_board[0:5]

['4', '26', '61', '14', '18']

In [431]:
len(Song_name),len(Artist_name),len(Last_week_rank),len(Peak_rank),len(Weeks_on_board)

(100, 100, 100, 100, 100)

In [432]:
# creating the dataframe from the scraped data
import pandas as pd
TOP100SONGS=pd.DataFrame({})
TOP100SONGS['Song_name']=Song_name
TOP100SONGS['Artist_name']=Artist_name
TOP100SONGS['Last_week_rank']=Last_week_rank
TOP100SONGS['Peak_rank']=Peak_rank
TOP100SONGS['Weeks_on_board']= Weeks_on_board
TOP100SONGS

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,-,96,1
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,-,62,3
98,Almost Maybes,Jordan Davis,-,95,2
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

# QUESTION NO-7

In [263]:
# Configure the webdriver.
driver = webdriver.Chrome('/Users/nlohith/Desktop/chromedriver')

In [264]:
URL='https://www.naukri.com/'

In [265]:
driver.get(URL)

In [266]:
#clciking on the recruiter option on homepage
recruiter=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruiter.get_attribute('href'))

In [267]:
#Giving/Typing Data Science as key/input in the search bar
search_field_designation=driver.find_element_by_xpath("//input[@class='sugInp']")
search_field_designation.send_keys("Data Science")

In [268]:
#clicking on search button
search_button=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_button.click()

In [269]:
# creating empty lists for scraping data
Name=[]
Designation=[] 
Company=[] 
Skills_Required=[] 
Location=[]

In [270]:
name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')

In [271]:
for i in name:
    Name.append(i.text)

In [272]:
Name[0:5]

['Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP']

In [273]:
des = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')

In [274]:
for i in des:
    Designation.append(i.text)

In [275]:
Designation[:5]

['HR Manager',
 'Company Recruiter',
 'Recruitment Professional',
 'Company Recruiter',
 'Company HR']

In [217]:
company = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')

In [218]:
for i in company:
    Company.append(i.text)

In [219]:
Company[0:5]

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'Data Science Network']

In [220]:
skills = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')

In [221]:
for i in skills:
    Skills_Required.append(i.text)

In [222]:
Skills_Required[0:5]

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Web Designing, html5, Angular.js, seo, hadoop, Cloud Computing, python, Iphone Development, java, Machine Learning, aws, analytics, linux, puppet',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics']

In [223]:
loc = driver.find_elements_by_xpath('//small[@class="ellipsis"]'.format(i))

In [224]:
for i in loc:
    Location.append(i.text)

In [225]:
Location[0:5]

['Delhi', 'Hyderabad / Secunderabad', 'Chandigarh', 'Ahmedabad', 'Pune']

In [226]:
len(Name),len(Designation),len(Company),len(Skills_Required),len(Location)

(50, 50, 54, 150, 144)

In [227]:
# creating the dataframe from the scraped data
import pandas as pd
Recruiter=pd.DataFrame({})
Recruiter['Name']=Name[0:48]
Recruiter['Designation']=Designation[0:48]
Recruiter['Company']=Company[0:48]
Recruiter['Skills_Required']= Skills_Required[0:48]
Recruiter['Location']=Location[0:48]
Recruiter

,Name,Designation,Company,Skills_Required,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,Data Science Network,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Shore Infotech India Pvt. Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,Data Science Network,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,Shore Infotech India Pvt. Ltd,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,XenonStack,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Enerlytics Software Solutions Pvt Ltd,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,MARSIAN Technologies LLP,Data Science,Chennai
9,Balu Ramesh,HR Administrator,LibraryXProject,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Compunnel Technology India Pvt. Ltd,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,Apidel Technologies Division of Transpower,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,IFMR,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,Techvantage Systems Pvt Ltd,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,Weupskill- Live Wire India,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,CBL Data Science Private Limited,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,Innominds Software,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,MoneyTap,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,QuantMagnum Technologies Pvt. Ltd.,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,Easi Tax,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,BISP Solutions,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Novelworx Digital Solutions,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,SocialPrachar.com,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,FirstTech Consaltants Pvt.Ltd,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Manas,Lead Talent acquisition,Affine Analytics,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Compumatrice Multimedia Pvt Ltd,"Signal Processing, Machine Learning, Neural Ne...",Delhi
28,Rajat Kumar,Founder CEO,Exela Technologies,"Web Technologies, Project Management, Software...",Mysoru / Mysore
29,Jayanth N,Project Manager,Autumn Leaf Consulting Services Private...,"Data Analytics, Managed Services, Team Leading...",Noida
30,Prateek Kumar,Head,trainin,"Java, Python, Angularjs, Software Testing, Mac...",Hyderabad / Secunderabad
31,SREEDHAR,Recruitment Consultant,Nanoprecise Sci Corp,"Data Science, Machine Learning, Big Data Analy...",New Delhi
32,Amit Sharma,Consultant,R.S Consultancy &amp; Services,"Machine Learning, Artificial Intelligence, Dat...",Chennai
33,Kanan,senior technology instructor,"Dollarbird Information Services Pvt, Ltd","C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,Trisect,"Relationship Management, Retail Sales, Private...",Salt Lake City
35,Brad,"Manager, Technical Recruiting",JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Software Engineering",Pune
36,Rutuja Pawar,Technical Recruiter,ASCO consulting,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
37,Madhusudhan Sridhar,Erp Implementer,NY INST,"Data Science, Recruitment, Salary",Mumbai
38,Ankit Sinha,Head Analytics,3D India Staffing Research &amp; Consulting...,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
39,Gaurav Chouhan,Chief Technical Officer,O.C. Tanner,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
40,Rashi Kacker,Sr Product Manager,Demand Matrix,"Data Science, Node.js, Angularjs",MYSORE
41,Ashwini,Director Global Delivery,MADHUSUDHAN SRIDHAR,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
42,Balaji Kolli,Co Founder,Suntech Global,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
43,Rajani Nagaraj,HR Manager,Strategic Consulting Lab,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
44,ROHIT Kumar,Architect,Impel Labs Pvt. Ltd.,"Software Development, Core Java, Unit Testing,...",Noida
45,Amir Chowdhury,Managing Partner,MRP Advisers,"Machine Learning, Data Science, Product Manage...",Mumbai
46,Shailja Mishra,HR Manager,Saras Solutions India Pvt Ltd,"consulting, Education Counseling, Educational ...",Bengaluru / Bangalore
47,Sunny Sharma,Managing Director - HR,WildJasmine,"Software Professionals, Engineering, Technical...",Chennai

# QUESTION NO-8

In [228]:
# Configure the webdriver.
driver = webdriver.Chrome('/Users/nlohith/Desktop/chromedriver')

In [229]:
URL='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'

In [230]:
driver.get(URL)

In [231]:
# creating empty lists for scraping data
Book_name=[] 
Author_name=[] 
Volumes_sold=[]
Publisher=[] 
Genre=[]

In [232]:
book = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')

In [233]:
for i in book:
    Book_name.append(i.text)

In [234]:
Book_name[0:5]

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey']

In [235]:
author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')

In [236]:
for i in author:
    Author_name.append(i.text)

In [237]:
Author_name[0:5]

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.']

In [238]:
vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')

In [239]:
for i in vol:
    Volumes_sold.append(i.text)

In [240]:
Volumes_sold[0:5]

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936']

In [241]:
pub = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')

In [242]:
for i in pub:
    Publisher.append(i.text)

In [243]:
Publisher[0:5]

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House']

In [244]:
gen = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')

In [245]:
for i in gen:
    Genre.append(i.text)

In [246]:
Genre[0:5]

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas']

In [247]:
# creating the dataframe from the scraped data
import pandas as pd
BOOKS=pd.DataFrame({})
BOOKS['Book_name']=Book_name
BOOKS['Author_name']= Author_name
BOOKS['Volumes_sold']=Volumes_sold
BOOKS['Publisher']=Publisher
BOOKS['Genre']=Genre
BOOKS

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# QUESTION NO-9

In [286]:
# Configure the webdriver.
driver = webdriver.Chrome('/Users/nlohith/Desktop/chromedriver')

In [289]:
# Opening the url
URL='https://www.imdb.com/list/ls095964455/'

In [290]:
# creating empty lists for scraping data
Name = []
Year_span = [] 
Genre = [] 
Run_time = [] 
Ratings = [] 
Votes = []

In [291]:
name = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')

In [292]:
for i in name:
    Name.append(i.text)

In [293]:
Name[0:5]

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100']

In [294]:
year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')

In [295]:
for i in year:
    Year_span.append(i.text)

In [296]:
Year_span[0:5]

['(2011–2019)', '(2016– )', '(2010– )', '(2017–2020)', '(2014–2020)']

In [297]:
genre = driver.find_elements_by_xpath('//span[@class="genre"]')

In [298]:
for i in genre:
    Genre.append(i.text)

In [299]:
Genre[0:5]

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi']

In [300]:
run_time = driver.find_elements_by_xpath('//span[@class="runtime"]')

In [301]:
for i in run_time:
    Run_time.append(i.text)

In [302]:
Run_time[0:5]

['57 min', '51 min', '44 min', '60 min', '43 min']

In [303]:
ratings = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')

In [304]:
for i in ratings:
    Ratings.append(i.text)

In [305]:
Ratings[0:5]

['9.3', '8.7', '8.2', '7.6', '7.6']

In [306]:
vote = driver.find_elements_by_xpath('//span[@name="nv"]')

In [307]:
for i in vote:
    Votes.append(i.text)

In [308]:
Votes[0:5]

['1,770,322', '822,472', '853,502', '256,223', '216,500']

In [309]:
# Creating DataFrame.
Top_IMDB_Tv_Series = pd.DataFrame({})
Top_IMDB_Tv_Series['Name'] =Name
Top_IMDB_Tv_Series['Year_Span'] = Year_span
Top_IMDB_Tv_Series['Genre'] = Genre
Top_IMDB_Tv_Series['Run_Time'] = Run_time
Top_IMDB_Tv_Series['Ratings'] = Ratings
Top_IMDB_Tv_Series['Votes'] = Votes
Top_IMDB_Tv_Series

,Name,Year_Span,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,770,322"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"822,472"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"853,502"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"256,223"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,500"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,595"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,876"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"161,253"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,099"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"182,430"

# QUESTION NO-10

In [401]:
# Configure the webdriver.
driver = webdriver.Chrome('/Users/nlohith/Desktop/chromedriver')

In [402]:
URL = 'https://archive.ics.uci.edu/'

In [403]:
driver.get(URL)

In [404]:
# All pages data.
dataset = driver.find_element_by_xpath("//span[@class='normal']/b/a")
driver.get(dataset.get_attribute('href'))

In [405]:
Dataset_name=[] 
Data_type=[]
Task=[] 
Attribute_type=[] 
No_of_instances=[] 
No_of_attribute=[] 
Year=[]

In [406]:
name = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td/table/tbody/tr/td[2]/p/b/a')
for i in name:
    Dataset_name.append(i.text)
name1 = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td/table/tbody/tr/td[2]/p/b/a')
for i in name1:
    Dataset_name.append(i.text)
datatype = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[2]/p')
for i in datatype:
    Data_type.append(i.text)
task = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[3]/p')
for i in task:
    Task.append(i.text)
att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[4]/p')
for i in att:
    Attribute_type.append(i.text)
ins = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[5]/p')
for i in ins:
    No_of_instances.append(i.text)
no_of_att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[6]/p')
for i in no_of_att:
    No_of_attribute.append(i.text)
year = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[7]/p')
for i in year:
    Year.append(i.text)
datatype = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[2]/p')
for i in datatype:
    Data_type.append(i.text)
tsk = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[3]/p')
for i in tsk:
    Task.append(i.text)
attr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[4]/p')
for i in attr:
    Attribute_type.append(i.text)
noi = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[5]/p')
for i in noi:
    No_of_instances.append(i.text)
noa = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[6]/p')
for i in noa:
    No_of_attribute.append(i.text)
yr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[7]/p')
for i in yr:
    Year.append(i.text)

In [407]:
Datasets=pd.DataFrame({})
Datasets['Dataset_name']=Dataset_name 
Datasets['Data_type']=Data_type
Datasets['Task']=Task
Datasets['Attribute_type']=Attribute_type
Datasets['No_of_instances']=No_of_instances
Datasets['No_of_attribute']= No_of_attribute
Datasets['Year']=Year

In [408]:
Datasets

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
3,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
4,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
...,...,...,...,...,...,...,...
275,Shoulder Implant X-Ray Manufacturer Classifica...,Multivariate,Classification,Real,597,1,2020
276,HCV data,Multivariate,"Classification, Clustering","Integer, Real",615,14,2020
277,South German Credit (UPDATE),Multivariate,"Classification, Regression, Clustering","Integer, Real",1000,21,2020
278,Guitar Chords finger positions,Text,Classification,,2633,5,2020
279,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020